<md-dialog class="task-template" aria-label="Add Task" flex-xs="90" flex-sm="80" flex-md="50" flex-lg="40" flex-gt-lg="30">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Task</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="./assets/svg/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block">
            <label>Task Name</label>
            <input ng-model="newTask.task_name" md-autofocus>
        </md-input-container>

        <md-input-container class="md-block">
            <label>Task Description</label>
            <input ng-model="newTask.task_desc" type="text">
        </md-input-container>

        <div class="calc-button">
            <md-button class="md-raised md-primary" ng-click="addTask(newTask)">
                ADD 
            </md-button>
        </div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>