<!DOCTYPE html>
<html lang="en">

<head>
	<title>AvantLink Assessment - Task List</title>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="./bower_components/angular-material/angular-material.css" />
	<link rel="stylesheet" href="./assets/app.css" />

	<style type="text/css">
		[ng\:cloak],
		[ng-cloak],
		[data-ng-cloak],
		[x-ng-cloak],
		.ng-cloak,
		.x-ng-cloak {
			display: none !important;
		}
	</style>

</head>

<body ng-app="avantlinkApp" layout="column" ng-controller="viewsCtrl as vc" ng-cloak>

	<md-toolbar layout="row" class="md-toolbar-tools">
		<h1 class="toolbar-logo"><img src="./assets/images/logo-on-dark.png" /></h1>
    <span flex></span>
		<h1>Task List</h1>
	</md-toolbar>
  <md-content class="md-padding" layout="column" flex ng-controller="TaskController as tc">

    <div layout-gt-xs="row" layout-xs="column">
        <div flex-gt-xs="35">
          <md-card class="tasks-card">
              <md-card-title>
                <md-card-title-text class="tasks-card">
                  <span class="md-headline">Tasks</span>
                </md-card-title-text>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Add Task" ng-click="showAddTaskDialog($event)">
                  <i class="material-icons">add_circle</i>
                  <md-tooltip md-direction="left">
                      Add Task
                  </md-tooltip>
                </md-button>
              </md-card-title>
              <md-card-content>
                <md-divider></md-divider>
                <md-list>
                  <md-list-item ng-repeat="task in tc.tasks">
                    <md-button ng-click="tc.selectTask(task)" ng-class="{'selected' : task === tc.selected }">
                      <i class="material-icons" ng-show="task === tc.selected">keyboard_arrow_right</i> <span>{{task.task_name}} </span>
                    </md-button>
                  </md-list-item>
                </md-list>
                <div layout="row" layout-sm="column" layout-align="space-around" class="center" ng-hide="tc.taskQuery.$resolved">
                  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
                <div class="center italic" ng-show="!tc.tasks.length && tc.taskQuery.$resolved">
                    No tasks :(
                </div>
              </md-card-content>
          </md-card>
        </div>

        <div flex-gt-xs="65">
            <md-card class="selected-task-card">
                <md-card-title>
                    <md-card-title-text class="tasks-card">
                        <span class="md-headline">Selected Task</span>
                    </md-card-title-text>
                    <span flex></span>
                    <md-button class="md-icon-button" aria-label="Delete Task" ng-show="tc.selected" ng-click="tc.confirmDeleteTask($event, tc.selected.id)">
                      <i class="material-icons">delete</i>
                      <md-tooltip md-direction="left">
                          Delete Task
                      </md-tooltip>
                    </md-button>
                </md-card-title>
                <md-card-content>
                  <md-divider></md-divider>
                  <div ng-show="tc.selected">
                    <h2>{{tc.selected.task_name}}</h2>
                    <p>{{tc.selected.task_desc}}</p>
                  </div>  
                  <div class="center italic" ng-show="!tc.selected">
                      No task selected.
                  </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
  </md-content>

	<script src="./bower_components/angular/angular.js"></script>
	<script src="./bower_components/angular-animate/angular-animate.js"></script>
	<script src="./bower_components/angular-aria/angular-aria.js"></script>
  <script src="./bower_components/angular-resource/angular-resource.js"></script>
	<script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>

	<script src="./src/tasks/Tasks.js"></script>
	<script src="./src/tasks/TaskController.js"></script>
	<script src="./src/tasks/TaskService.js"></script>

  <script src="./src/app.js"></script>
</body>

</html>